.sidebarWrapper {
  width: 10vw;
  background-color: #f2f2f2;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}
.sidebarWrapper-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
}
.sidebarWrapper-content-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2c6bbe !important;
  font-size: 16px !important;
}
.sidebarWrapper-content-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}
@media (max-width: 575px) {
 .sidebarWrapper{
  display: none;
 }
}