.homeWrapper {
  margin: 0 auto;
  height: fit-content;
}
.homeContents {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.homeContent1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.homeSearch {
  width: 310px;
  border-radius: 30px;
  padding: 5px 25px;
  outline: none;
  border: none;
  margin: 150px auto;
  margin-bottom: 50px;
  background-color: #f5f5f5;
  color: #555;
  font-size: 20px;
  font-family: "lobster", cursive;
  box-shadow: 1px 2px 3px #266;
}
.searchIcon {
  width: 25px !important;
  height: 25px !important;
  color: #266 !important;
  margin-left: -50px;
  cursor: pointer;
  margin-bottom: -10px;
}
.homeContent2 {
  margin-top:0;
  display: flex;
  justify-content: space-between;
  margin: 50px 10%;
  height: 70vh;
}
.homeContent2-link {
  width: 50px !important;
  height: 50px !important;
  font-weight: 700 !important;
  color: #266 !important;
  cursor: pointer;
  text-decoration: none;
}
.homeContent2-arrow_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.homeContent2-1 {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homeContent2-arrow_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
.arrows {
  color: #f2f2f2 !important;
  cursor: pointer;
  width: 40px !important;
  height: 70px !important;
  background-color: #266;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0 40px;
}
#arrows {
  color: #f2f2f2 !important;
  margin: 0 40px;
  cursor: pointer;
  width: 40px !important;
  height: 70px !important;
  background-color: #266;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}
.homeContent2-2 {
  width: 60%;
}
.homeContent2-2_content {
  margin-top: 40px;
  box-shadow: 1px 2px 4px #fff;
  padding: 4px 7px;
}
.homeContent2-2_contentFlex {
  height: 30px;
}
.homeContent2-2_content_titles,
.homeContent2-2_content_details {
  font-size: 16px;
  color: #555;
  list-style: none;
}
.homeContent2-titles {
  font-size: 16px;
  font-family: "lobster", cursive;
  color: #555;
  text-shadow: 0.5px 2px 1px #ccc;
}
.homeContent2-2_content_link {
  color: #266;
}
.homeContent2-2_content_details {
  border-top: 2px solid #266;
  background-color: #ddd;
  font-size: 18px;
  padding: 7px 15px;
  margin-top: 10px;
}
.homeContent2-2_content {
  background-color: #f2f2f2;
  border-radius: 5px;
}
