.homeWrapper {
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}
.homeContent{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: 0 40px;
  margin-top: 40px;
}

