.homeTopPart{
  background-color: #ccc;
  background-image: url("https://img.freepik.com/premium-photo/smartphone-tablet-with-apps-shape-beveled-square-isolated-black_771335-36552.jpg?size=626&ext=jpg&ga=GA1.1.580130807.1676446663&semt=ais");
  background-repeat: repeat;
  background-size: 70% 250px;
  animation: mymove 20s infinite;
  background-position: 0 0;
}
@keyframes mymove {
  50% {background-position: 200px 0;}
}
@media (max-width: 768px) {
  .homeTopPart{
    width: 88.5vw;
  }
}
@media (max-width: 575px) {
  .homeTopPart{
    width: 98.5vw;
  }
  .homeSearch{
    margin-left: -20px;
    width: 300px;
  }
}

