.currentWeather-wrapper {
  display: flex;
  margin-top: 20px;
}
.currentWeather-content {
  width: 310px;
  height: 250px;
  background-color: #505050;
  border-radius: 4px;
  padding: 3px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 3px 5px #222222;
}
.currentWeather-content_top {
  display: flex;
  align-items: center;
  color: #f2f2f2;
  font-size: 12px;
  margin-top: 50px;
  justify-content: space-between;
}
.currentWeather-content_top1 {
  color: #f2f2f2;
  font-size: 12px;
  display: flex;
}
.currentWeather-content_top1_1 {
  display: flex;
  flex-direction: column;
  color: #f2f2f2;
  font-size: 12px;
  align-items: flex-start;
  justify-content: space-between;
}

.currentWeather-sunImg{
 margin-left: 120px;
 width: 40px;
 height: 40px;
}
.currentWeather-content_down {
  display: flex;
  align-items: center;
  color: #f2f2f2;
  font-size: 12px;
  justify-content: space-between;
  margin-top: 20px;
}
.currentWeather-content_down1 {
  font-size: 32px;
}
.currentWeather-content_down2 {
  display: flex;
  flex-direction: column;
  color: #f2f2f2;
  font-size: 12px;
  align-items: flex-start;
  margin-left: 40px;
}
.currentWeather-params{
  margin-left: 40px;
}
#currentWeather-params{
  margin-left: 60px;
}
#currentWeather-param{
  margin-left: 47px;
}