.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #d4d5d5;
    margin: 0 auto;
}
.appSidebar-router{
    display: flex;
    justify-content: center;
    margin-left: -10vw;
}
