.homeHeader-wrapper{
    width:40vw;
    height: 100px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.homeHeader-details{
  font-family: "Lobster", cursive;
  font-size: 24px;
  text-align: center;
}