.homeHeader-wrapper {
  width: 70vw;
  height: 70px;
  display: flex;
  flex-direction: column;
  background-color: #2c6bbe;
  margin: 0 auto;
  align-items: center;
  color: #f2f2f2;
  justify-content: center;
  box-shadow: 1px 1px 2px 3px #2c6bbe;
}
.homeHeader-details {
  font-family: "Lobster", cursive;
  font-size: 24px;
  text-align: center;
}
